---
layout: default
---

<div class="home" style="display: none;">

  <h1 class="page-heading">Posts</h1>

  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>

<section class="nicdark_section">
  <div style="background-image: url('{{ page.masthead_image | relative_url }}'); background-size: cover; background-position: center center; min-height: 20em; min-height: 40vh;">
    <div class="nicdark_container nicdark_clearfix">
      <div class="nicdark_space100"></div>
    </div>
  </div>
</section>

{% if site.display_events %}
<section class="nicdark_section nicdark_margintop45_negative">
    <div class="nicdark_container nicdark_clearfix">
		<div class="grid grid_12 percentage nomargin">
			<div class="nicdark_textevidence center">
			    <div class="nicdark_textevidence nicdark_width_percentage25 nicdark_bg_green nicdark_shadow nicdark_radius_left">
			        <div class="nicdark_textevidence">
			            <div class="nicdark_margin30 tuck-over">
			                <h2 class="white subtitle"><a class="white" href="{% if page.masthead_links[0].url contains "://" %}{{ page.masthead_links[0].url }}{% else %}{{ page.masthead_links[0].url | relative_url }}{% endif %}">{{ page.masthead_links[0].title }}</a></h2>
			           </div>
			            <i class="nicdark_zoom icon-shop nicdark_iconbg left extrabig green nicdark_displaynone_ipadland nicdark_displaynone_ipadpotr"></i>
			        </div>
			    </div>
			    <div class="nicdark_textevidence nicdark_width_percentage25 nicdark_bg_blue nicdark_shadow">
			        <div class="nicdark_textevidence">
			            <div class="nicdark_margin30 tuck-over">
			                <h2 class="white subtitle"><a class="white" href="{% if page.masthead_links[1].url contains "://" %}{{ page.masthead_links[1].url }}{% else %}{{ page.masthead_links[1].url | relative_url }}{% endif %}">{{ page.masthead_links[1].title }}</a></h2>
			           </div>
			            <i class="nicdark_zoom icon-graduation-cap-1 nicdark_iconbg left extrabig blue nicdark_displaynone_ipadland nicdark_displaynone_ipadpotr"></i>
			        </div>
			    </div>
			    <div class="nicdark_textevidence nicdark_width_percentage25 nicdark_bg_yellow nicdark_shadow">
			        <div class="nicdark_textevidence">
			            <div class="nicdark_margin30 tuck-over">
			                <h2 class="white subtitle"><a class="white" href="{% if page.masthead_links[2].url contains "://" %}{{ page.masthead_links[2].url }}{% else %}{{ page.masthead_links[2].url | relative_url }}{% endif %}">{{ page.masthead_links[2].title }}</a></h2>
			           </div>
			            <i class="nicdark_zoom icon-reddit nicdark_iconbg left extrabig yellow nicdark_displaynone_ipadland nicdark_displaynone_ipadpotr"></i>
			        </div>
			    </div>
			    <div class="nicdark_textevidence nicdark_width_percentage25 nicdark_bg_orange nicdark_shadow nicdark_radius_right">
			        <div class="nicdark_textevidence">
			            <div class="nicdark_margin30 tuck-over">
			                <h2 class="white subtitle"><a class="white" href="{% if page.masthead_links[3].url contains "://" %}{{ page.masthead_links[3].url }}{% else %}{{ page.masthead_links[3].url | relative_url }}{% endif %}">{{ page.masthead_links[3].title }}</a></h2>
			           </div>
			            <i class="nicdark_zoom icon-calendar nicdark_iconbg left extrabig orange nicdark_displaynone_ipadland nicdark_displaynone_ipadpotr"></i>
			        </div>
			    </div>
			    <div class="nicdark_space5"></div>
			</div>
		</div>
	</div>
</section>
{% else %}
<section class="nicdark_section nicdark_margintop45_negative">
    <div class="nicdark_container nicdark_clearfix">
		<div class="grid grid_12 percentage nomargin">
			<div class="nicdark_textevidence center">
			    <div class="nicdark_textevidence nicdark_width_percentage33 nicdark_bg_green nicdark_shadow nicdark_radius_left">
			        <div class="nicdark_textevidence">
			            <div class="nicdark_margin30 tuck-over">
			                <h2 class="white subtitle"><a class="white" href="{% if page.masthead_links[0].url contains "://" %}{{ page.masthead_links[0].url }}{% else %}{{ page.masthead_links[0].url | relative_url }}{% endif %}">{{ page.masthead_links[0].title }}</a></h2>
			           </div>
			            <i class="nicdark_zoom icon-shop nicdark_iconbg left extrabig green nicdark_displaynone_ipadland nicdark_displaynone_ipadpotr"></i>
			        </div>
			    </div>
			    <div class="nicdark_textevidence nicdark_width_percentage33 nicdark_bg_blue nicdark_shadow">
			        <div class="nicdark_textevidence">
			            <div class="nicdark_margin30 tuck-over">
			                <h2 class="white subtitle"><a class="white" href="{% if page.masthead_links[1].url contains "://" %}{{ page.masthead_links[1].url }}{% else %}{{ page.masthead_links[1].url | relative_url }}{% endif %}">{{ page.masthead_links[1].title }}</a></h2>
			           </div>
			            <i class="nicdark_zoom icon-graduation-cap-1 nicdark_iconbg left extrabig blue nicdark_displaynone_ipadland nicdark_displaynone_ipadpotr"></i>
			        </div>
			    </div>
			    <div class="nicdark_textevidence nicdark_width_percentage33 nicdark_bg_yellow nicdark_shadow nicdark_radius_right">
			        <div class="nicdark_textevidence">
			            <div class="nicdark_margin30 tuck-over">
			                <h2 class="white subtitle"><a class="white" href="{% if page.masthead_links[2].url contains "://" %}{{ page.masthead_links[2].url }}{% else %}{{ page.masthead_links[2].url | relative_url }}{% endif %}">{{ page.masthead_links[2].title }}</a></h2>
			           </div>
			            <i class="nicdark_zoom icon-reddit nicdark_iconbg left extrabig yellow nicdark_displaynone_ipadland nicdark_displaynone_ipadpotr"></i>
			        </div>
			    </div>
			    <div class="nicdark_space5"></div>
			</div>
		</div>
	</div>
</section>
{% endif %}

<section class="nicdark_section">
  <div class="nicdark_container nicdark_clearfix">
    <div class="nicdark_space50"></div>
    <div class="grid grid_6">
      <div class="nicdark_space10"></div>
      <p class="center">{{ page.hidiot_description }}</p>
    </div>
    <div class="grid grid_6">
      <h2 class="subtitle center"><a target="_blank" class="nicdark_btn nicdark_press nicdark_bg_red white big nicdark_radius nicdark_shadow custom_btn" href="{{ page.shopify_button_address}}">{{ page.shopify_button_text }}</a></h2>
      <div class="nicdark_space20"></div>
      <h2 class="subtitle center"><a target="_blank" class="nicdark_btn nicdark_press nicdark_bg_violet white big nicdark_radius nicdark_shadow custom_btn" href="{{ page.newsletter_link}}">{{ page.newsletter_message }}</a></h2>
    </div>
  </div>
</section>

<section class="nicdark_section">
    <div class="nicdark_container nicdark_clearfix">
        <div class="nicdark_space50"></div>
        <div class="grid grid_12">
            <h1 class="subtitle greydark">LATEST NEWS</h1>
            <div class="nicdark_space20"></div>
            <h3 class="subtitle grey">WHAT'S HAPPENING IN THE WORLD OF THE HIDIOT</h3>
            <div class="nicdark_space20"></div>
            <div class="nicdark_divider left big"><span class="nicdark_bg_blue nicdark_radius"></span></div>
            <div class="nicdark_space10"></div>
        </div>

        <div class="nicdark_masonry_container">
            {% assign sorted = (site.posts | sort: 'date') | reverse %}
            {% for post in sorted limit: 4 %}
            <div class="grid grid_3 nicdark_masonry_item educational">
                <a href="{{ post.url | relative_url }}">
                    <div class="nicdark_archive1 nicdark_bg_{% if post.color %}{{ post.color }}{% else %}green{% endif %} nicdark_radius nicdark_shadow">

                        <div style="height: 10em; background-image: url('{{ post.image | relative_url }}'); background-size: cover; background-position: center center;"></div>

                        <div class="nicdark_margin20">
                            <h4 class="white">{{ post.title | escape}}</h4>
                            <div class="nicdark_space20"></div>
                            <div class="nicdark_divider left small"><span class="nicdark_bg_white nicdark_radius"></span></div>
                            <div class="nicdark_space20"></div>
                            <p class="white">{{ post.excerpt | strip_html | normalize_whitespace | truncate: 100 | escape }}</p>
                            <div class="nicdark_space20"></div>
                            <span class="white nicdark_btn"><i class="icon-doc-text-1 "></i> Read More</span>
                        </div>

                        <i class="icon-pencil-1 nicdark_iconbg right medium {% if post.color %}{{ post.color }}{% else %}green{% endif %}"></i>

                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% if site.display_events %}
<section class="nicdark_section">
    <div class="nicdark_container nicdark_clearfix">
        <div class="nicdark_space50"></div>
        <div class="grid grid_12">
            <h1 class="subtitle greydark">SEE HIDIOT LIVE!</h1>
            <div class="nicdark_space20"></div>
            <h3 class="subtitle grey">COME PLAY WITH HIDIOT AT THESE EVENTS</h3>
            <div class="nicdark_space20"></div>
            <div class="nicdark_divider left big"><span class="nicdark_bg_green nicdark_radius"></span></div>
            <div class="nicdark_space10"></div>
        </div>

        {% for post in site.events limit: 4 %}
        <div class="grid grid_3">
            <div class="nicdark_archive1 nicdark_bg_{% if post.color %}{{ post.color }}{% else %}green{% endif %} nicdark_radius nicdark_shadow">
                <a href="#" class="nicdark_btn nicdark_bg_greydark white medium nicdark_radius nicdark_absolute_left">{{ post.date | date: "%-d" }}<br/><small>{{ post.date | date: "%b" }}</small></a>

                <div style="height: 10em; background-image: url('{{ post.image | relative_url }}'); background-size: cover; background-position: center center;"></div>

                <div class="nicdark_textevidence nicdark_bg_greydark">
                    <h4 class="white nicdark_margin20">{{ post.title | escape }}</h4>
                </div>

                <div class="nicdark_margin20">
                    <h5 class="white"><i class="icon-pin-outline"></i> {{ post.location | escape }}</h5>
                    <div class="nicdark_space10"></div>
                    <h5 class="white">
                        <i class="icon-clock-1"></i>
                        {% if post.time_start %}{{ post.time_start | escape }}{% endif %}
                        {% if post.time_start and post.time_end %} to {% endif %}
                        {% if post.time_end %}{{ post.time_end | escape }}{% endif %}
                    </h5>
                    <div class="nicdark_space10"></div>
                    <h5 class="white"><i class="icon-calendar"></i> {{ post.date | date: "%Y-%m-%d" }}</h5>
                    <div class="nicdark_space20"></div>
                    <div class="nicdark_divider left small"><span class="nicdark_bg_white nicdark_radius"></span></div>
                    <div class="nicdark_space20"></div>
                    <p class="white">{{ post.excerpt | strip_html | normalize_whitespace | truncate: 200 | escape }}</p>
                    <div class="nicdark_space20"></div>
                    <a href="{{ post.url | relative_url }}" class="nicdark_press nicdark_btn nicdark_bg_{% if post.color %}{{ post.color }}{% else %}green{% endif %}dark white nicdark_radius nicdark_shadow medium">READ MORE</a>
                </div>
            </div>
        </div>
        {% endfor %}
   </div>
</section>
{% endif %}

<div class="nicdark_space50"></div>
