---
layout: default
---
<section id="nicdark_parallax_title" class="nicdark_section nicdark_imgparallax nicdark_parallaxx_img8" {% if page.image %}style="background-image: url('{{ page.masthead_image | relative_url }}'); background-size: cover; background-position: center center;"{% endif %}>
    <div class="nicdark_filter greydark">
        <div class="nicdark_container nicdark_clearfix">
            <div class="grid grid_12">
                <div class="nicdark_space100"></div>
                <div class="nicdark_space100"></div>
                <h1 class="blackoutlined subtitle">{{ page.title }}</h1>
                <div class="nicdark_space10"></div>
                <h3 class="subtitle blackoutlined">{{ page.subtitle }}</h3>
                <div class="nicdark_space20"></div>
                <div class="nicdark_divider left big"><span class="nicdark_bg_white nicdark_radius"></span></div>
                <div class="nicdark_space40"></div>
                <div class="nicdark_space50"></div>
            </div>
        </div>
    </div>
</section>

<section class="nicdark_section">
    <div class="nicdark_container nicdark_clearfix">
        <div class="nicdark_space50"></div>
        <div class="grid grid_8">
            <div class="nicdark_textevidence nicdark_bg_{% if post.color %}{{ post.color }}{% else %}green{% endif %} nicdark_radius nicdark_shadow">
                <div class="nicdark_size_big">
                    <p class="white"><i class="icon-calendar-1 nicdark_marginright10"></i>{{ page.date | date: "%b %-d, %Y" }} <span class="nicdark_margin010">·</span> <i class="icon-user-1 nicdark_marginright10"></i>{{ page.author }}
                </div>
                <i class="icon-info-outline nicdark_iconbg right medium {% if post.color %}{{ post.color }}{% else %}green{% endif %}"></i>
            </div>

            <div class="nicdark_space50"></div>

            <h1 class="subtitle greydark">{{ page.title }}</h1>
            <div class="nicdark_space20"></div>
            <div class="nicdark_divider left small"><span class="nicdark_bg_yellow nicdark_radius"></span></div>
            <div class="nicdark_space20"></div>

            <div class="nicdark_space20"></div>

            <div style="background-image: url('{{ page.image | relative_url }}'); background-size: cover; background-position: center center; height: 25em; margin: 3em 0 1em 0;"></div>

            {{ content }}

            <div class="nicdark_space50"></div>

            {% if page.author_image and page.author_full_name and page.author_description %}
            <div class="nicdark_archive1 nicdark_bg_yellow nicdark_radius nicdark_shadow">
                <div class="nicdark_margin20 nicdark_relative">
                    <img alt="" class="nicdark_displaynone_ipadpotr nicdark_radius_circle nicdark_absolute" style="width:100px;" src="{{ page.author_image | relative_url }}">
                    <div class="nicdark_activity nicdark_marginleft120 nicdark_disable_marginleft_ipadpotr">
                        <h4 class="white">{{ page.author_full_name }}</h4>
                        <div class="nicdark_space20"></div>
                            <div class="nicdark_divider left small"><span class="nicdark_bg_white nicdark_radius"></span></div>
                        <div class="nicdark_space20"></div>
                        <p class="white">{{ page.author_description }}</p>
                    </div>
                </div>
            </div>
            {% endif %}

            <div class="nicdark_space50"></div>


            {% if site.disqus.shortname %}
                {% include disqus_comments.html %}
            {% endif %}
        </div>


        <div class="grid grid_4">
            {% include sidebar.html %}
        </div>
        <div class="nicdark_space50"></div>
    </div>
</section>
